<html>
    <head>
        <title>add order</title>
    </head>
<body>
<form method='POST'>
    {% csrf_token %}
    {% for y in data2 %}
    <lable for="id">id</label>
    <input type="text"  value="{{y.orid}}" required><br><br>
    <lable  for="name">orname</label>
    <input type="text"  value="{{y.orname}}" required><br><br>

    <select name="userid">
    {% for x in data1 %}
    <option value="{{x.id}}">{{x.name}}</option>
    {% endfor %}
    </select>
    <button type="submit">submit</button><br>
</form>
        {% endfor %}
</body>
</html>